.firstImpressionContainer{
  height: 70vh;
  width: 100vw;

  display: flex;
  align-items: center;

  padding:0 12rem;
  
  background-color: var(--yellow);
}

.firstImpressionContainer section{
  display: flex;
  align-items: center;
}

.firstImpressionContainer img{
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.firstImpressionContainer p{
  max-width: 80%;
  font-size: 2.25rem;
  font-weight: 500;
  margin: 5px 0;
}