.headerContainer{
    width: 100vw;
    height: 13vh;
    background-color: var(--gray-background);
    color: var(--white);

    display: flex;
    align-items: center;

    padding: 0 10.5rem;
}

.headerContainer h1::before{
    content: '<KevinAlves/>';
}