.projectsContainer{
    display: flex;
    flex-direction: column;

    padding: 2rem 4rem;

    background-color: var(--gray-background);
    color: var(--white);
}

.projectsContainer h2{
    font-size: 6rem;
    margin-left: 6rem;
}

.projectsContainer section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.projectItem{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background-color: #F0F1F3;
  color: #000;
  padding: 1rem 0.5rem;
  margin:10px 10px;
  border-radius: 5px;
}

.projectItem img{
    width: 100%;

}

.projectItem main{
    flex: 1;
    background-color: #f3f4f6;
    padding: 1rem;
}

.projectItem main p{
    margin-top: 10px;
}

.projectItem main a:hover{
    text-decoration: underline;
}